<template id="markup">
  <link href="/components/community/index.css" rel="stylesheet" />

  <div id="community">
    <gaia-dialog-alert>
      <h3>Help the Community</h3>
      <p>You can help us improve Vaani's speech recognition by reading sentances.</p>
      <p>Record yourself reading a sentence. The recording will then be submitted over wifi.</p>
      <p>That's it! We appreciate the help!</p>
      <p>(coming soon)</p>
    </gaia-dialog-alert>
  </div>
</template>

<script src="/components/community/index.js"></script>
