html {
  font-size: 10px;
}
body {
  margin: 0;
  overflow: hidden;
  background-color: #f4f4f4;
}


* { /* TODO: Remove before shipping */
  font-family: 'Fira Sans';
}


#viewer {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 24.3rem;
}


#view-central {
  display: none;
}
