<template id="markup">
  <link href="/components/ftu-popup/index.css" rel="stylesheet" />

  <div id="ftu-popup">
    <div class="arrow-up"></div>
    <div class="container">
      <div class="step-1">
        <h3 class="title">What is Vaani?</h3>
        <p class="message">Vaani is the voice recognition system that can do things for you.</p>
        <hr />
        <button class="btn">Ok</button>
      </div>
      <div class="step-2">
        <h3 class="title">Help the Community!</h3>
        <p class="message">You can help us improve Vaani's speech recognition by reading sentances.</p>
        <hr />
        <button class="btn">Ok</button>
      </div>
      <div class="step-3">
        <h3 class="title">Not sure what to ask Vaani?</h3>
        <p class="message">Find a list of everythign you can say to Vaani here.</p>
        <hr />
        <button class="btn">Ok</button>
      </div>
    </div>
    <div class="arrow-down"></div>
  </div>
</template>

<script src="/components/ftu-popup/index.js"></script>
