<template id="markup">
  <link href="/components/toolbar/index.css" rel="stylesheet" />

  <div id="toolbar">
    <div class="community">
      <img
        alt="community"
        src="/style/images/community.png"
        data-src-active="/style/images/community_pressed.png"
        data-src-inactive="/style/images/community.png"
      />
    </div>
    <div class="help">
      <img
        alt="help"
        src="/style/images/help.png"
        data-src-active="/style/images/help_pressed.png"
        data-src-inactive="/style/images/help.png"
      />
    </div>
    <div class="clearfix"></div>
  </div>
</template>

<script src="/components/toolbar/index.js"></script>
