<template id="markup">
  <link href="/components/talkie/index.css" rel="stylesheet" />

  <div id="talkie">
    <div class="content">
      <div class="idle-popup">
        <div class="idle-popup-container">
          <p class="message">Tap or say "Yo Vaani" to get started.</p>
        </div>
        <div class="arrow-down"></div>
      </div>

      <div class="receiving">
        <div class="dot dot-1"></div>
      </div>

      <div class="sending">
        <div class="bubble bubble-1"></div>
        <div class="bubble bubble-2"></div>
        <div class="bubble bubble-3"></div>
      </div>

      <div class="mic">
        <img alt="tap to talk" src="/style/images/mic.png" />
      </div>
    </div>
  </div>
</template>

<script src="/components/talkie/index.js"></script>
